@{
    ViewBag.Title = "Bootstrap";
}

<div class="jumbotron">
    <h1>Bootstrap</h1>
    <p class="lead">Sitio Recursivo con Bootstrap</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Que es Boostrap?</h2>
        <p>
            es una herramienta Open Source para el desarrollo rápido de aplicaciones web que ha ido creciendo en popularidad hasta convertirse en uno de los proyectos más destacados en la plataforma de código abierto GitHub.

            Esta traducción disponible gracias al equipo de trabajo de Anidocs.es resultará de gran utilidad para todos aquellos diseñadores/desarrolladores interesados en sacar el máximo rendimiento del completo conjunto de herramientas que forman esta biblioteca en constante mejora.

            Además de la página del proyecto también se están traduciendo al español otras herramientas y recursos relacionados con este interesante framework CSS.
        </p>
        <p><a class="btn btn-default" href="http://librosweb.es/libro/bootstrap_3/">Leer más</a></p>
    </div>
    <div class="col-md-4">
        <h2>Grids de 12 columnas</h2>
        <p>Los sistemas de grillas (grids) no harán todo el trabajo, pero usando una grilla como esqueleto de tu trabajo harán tu trabajo más simple. Usa nuestras clases para grids para crear o empieza la tuya propia.</p>
        <p><a class="btn btn-default" href="http://www.anidocs.es/bootstrap/docs/">Leer más</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ejemplos</h2>
        <p>Algunos ejemplos disponibles.</p>
        <p><a class="btn btn-default" href="http://librosweb.es/libro/bootstrap_3/capitulo_1/la_primera_plantilla_bootstrap.html">Leer más</a></p>
    </div>
</div>