
@{
    ViewBag.Title = "jQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Java Script</h1>
    <p class="lead">Java Script ha sido integrado a este sitio para validacion podria referirse a la pagina @Html.ActionLink("HTML5 And CSS3", "HTML5AndCSS3", "Module1")</p>
</div>