@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programa de entrenamiento</h1>
    <p class="lead">En este sitio encontraran los ejercicios ralcionados con el programa de entrenamiento</p>
</div>

